<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mingturn PR</title>
    <link rel="stylesheet" href="css/eyecatch.css"/>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>	
	<script src="js/eyecatch.js"></script>
</head>
<body>
    <div class="hero-center-section">
		<div class="left-text">cutie</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="img-wrap">
						<img src="images/mingCute.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-center-section">
		<div class="left-text">pretty</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="img-wrap">
						<img src="images/mingPretty.jpeg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-center-section">
		<div class="left-text">sexy</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="img-wrap">
						<img src="images/mingSexy.jpeg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
		
		
	<div class="section padding-top-bottom over-hide z-bigger">
		<ul class="slide-buttons">
			<li class="">
				<span class="hover-target" data-hover="CUTIE">CUTIE</span>
			</li>
			<li class="">
				<span class="hover-target" class="hover-target" data-hover="PRETTY">PRETTY</span>
			</li>
			<li class="">
				<span class="hover-target" data-hover="SEXY">SEXY</span>
			</li>
		</ul>
	</div>
		
	<!-- Page cursor
	================================================== -->
	
	<div class='cursor' id="cursor"></div>
	<div class='cursor2' id="cursor2"></div>
	<div class='cursor3' id="cursor3"></div> 

</body>
</html>