<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta property="og:title" content="밍티엄왕국">
    <meta property="og:description" content="밍티엄왕국에 오신 것을 환영합니다!">
    <meta property="og:image" content="images/titleImg.jpeg">
    <title>밍티엄 왕국</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/icons/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="images/icons/favicons/site.webmanifest">
    <link rel="mask-icon" href="images/icons/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
  <div id="splash">
    <span class="fontColorWhite blinking splash-text">밍티엄 왕국으로 떠납니다...</span>
    <div class="anim">
      <div id="loader">
        <svg version="1.1" width="60px" height="70px" viewBox="0 0 60 70">
          <defs>
            <filter id="f1" x="0" y="0">
              <feGaussianBlur in="SourceGraphic" stdDeviation="2" />
            </filter>
          </defs>
          <g id="shadow" transform="scale(.9)">
            <path fill="#000" fill-opacity="0.3" d="M0.677,20.977l4.355,1.631c0.281,0.104,0.579,0.162,0.88,0.16l9.76-0.004L30.46,41.58c0.27,0.34,0.679,0.545,1.112,0.541
            h1.87c0.992,0,1.676-0.992,1.322-1.918l-6.643-17.439l6.914,0.002l6.038,6.037c0.265,0.266,0.624,0.412,0.999,0.418l1.013-0.004
            c1.004-0.002,1.684-1.012,1.312-1.938l-2.911-7.277l2.912-7.278c0.372-0.928-0.313-1.941-1.313-1.938h1.017
            c-0.375,0-0.732,0.15-0.996,0.414l-6.039,6.039h-6.915l6.646-17.443c0.354-0.926-0.33-1.916-1.321-1.914l-1.87-0.004
            c-0.439,0.004-0.843,0.203-1.112,0.543L15.677,17.24l-9.765-0.002c-0.3,0.002-0.597,0.055-0.879,0.16L0.678,19.03
            C-0.225,19.36-0.228,20.637,0.677,20.977z" transform="translate(64,30) rotate(90 0 0)" filter="url(#f1)" />
          </g>
          <g id="airplane">
            <path fill="var(--ming-pink)" d="M0.677,20.977l4.355,1.631c0.281,0.104,0.579,0.162,0.88,0.16l9.76-0.004L30.46,41.58c0.27,0.34,0.679,0.545,1.112,0.541
            h1.87c0.992,0,1.676-0.992,1.322-1.918l-6.643-17.439l6.914,0.002l6.038,6.037c0.265,0.266,0.624,0.412,0.999,0.418l1.013-0.004
            c1.004-0.002,1.684-1.012,1.312-1.938l-2.911-7.277l2.912-7.278c0.372-0.928-0.313-1.941-1.313-1.938h1.017
            c-0.375,0-0.732,0.15-0.996,0.414l-6.039,6.039h-6.915l6.646-17.443c0.354-0.926-0.33-1.916-1.321-1.914l-1.87-0.004
            c-0.439,0.004-0.843,0.203-1.112,0.543L15.677,17.24l-9.765-0.002c-0.3,0.002-0.597,0.055-0.879,0.16L0.678,19.03
            C-0.225,19.36-0.228,20.637,0.677,20.977z" transform="translate(44,0) rotate(90 0 0)" />
          </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="bg-common">
    <video class="bg-video" src="images/bg_partyNight.mp4" loop muted preload="auto" playsinline autoplay=true></video>
  </div>
  <main class="main-common">
    <section>
      <div class="introduce-area introduce-main font-bold" style="font-weight: 500; height: 88vh;text-align: center;padding: 0 5vw; text-shadow: 0vw 0vw 0.1vw white;">
        <span class="mingturnBlue sectiontitle font-title" style="text-align: center; line-height: calc(20px + 5.2vw); color: #7D9BC2;">
          <span style="font-size: calc(8px + 2.4vw); color: white;">
            <span style="letter-spacing: -0.17vw;">&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</span>
            &nbsp;&nbsp;The Kingdom of&nbsp;&nbsp;
            <span style="letter-spacing: -0.17vw;">&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</span>
          </span>
          <br>
          <span style="font-size: calc(31px + 9vw);">M<span style="color: #F2CBC8;">I</span>NGT<span style="color: #F2CBC8;">I</span>UM</span>
        </span>
      </div>
      <div style="width: 100%; text-align: center;">
        <span class="fontColorWhite" style="font-size: 2vh; font-weight: 500;">밍티엄 왕국에 오신 여러분, 환영합니다!</span>
      </div>
      <div class="introduce-area">
        <a href="#top-area"><div class="btn-scroll"></div></a>
      </div>
    </section>
    <section id="top-area" class="contents-area-common">
      <span class="font-bold mingturnBlue sectiontitle">LIVE</span>
      <div style=" width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
        <div id="afreecatv_player_video" style="display: none;">
          <iframe class="live-player-af" style="width:50vw; height:29.125vw; min-width:300px; min-height:169.75px;"
          src="https://play.afreecatv.com/mingturn97/embed"
          frameborder="0" allowfullscreen="true" allow="autoplay">
          </iframe>
        </div>
        <div id="live_offline_img" style="display: block;">
          <img class="live-player-af" src="images/mingLiveOffline.png" style="width:50vw; height:auto; min-width: 300px;">
        </div>
      </div>
    </section>
    <section id="mingtube-area" class="contents-area-common">
      <span class="font-bold mingturnBlue sectiontitle">MINGTUBE</span>
      <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
        <div style="display: flex; flex-direction: row; width: 100%; padding: 0 3vw; justify-content: center;">
          <div id="video-category" class="fontColorWhite font-bold" style="display: flex; flex-direction: column; justify-content: space-around; width: 20%; height: 30vw;">
            <nav class="nav"> 		
              <ul class="pt-5">
                <li><span id="btn-recent" class="button">최신 밍튜브</span></li>
                <li><span id="btn-pasta" class="button">밍또니 파스타</span></li>
                <li><span id="btn-cute" class="button">귀요미 공듀님</span></li>
                <li><span id="btn-music" class="button">MUSIC</span></li>
                <li><span id="btn-mingflix" class="button">밍플릭스</span></li>
              </ul>
            </nav>
          </div>
          <div id="video-area" style="width: 80%;">
              <div id="youtube-playlist" style="display: block;">
                <div class="container" style="width: 100%; height: 29.5vw;">
                    <div class="row" style="display: flex; justify-content: center;">
                        <div class="carousel zoom landscape slide" id="carousel-landscape" data-ride="carousel" data-interval=0>
                            <div class="carousel-inner" role="listbox">
                            </div>
                        <a href="#carousel-landscape" class="left carousel-control" id="video-carousel-left" role="button" data-slide="prev"><span class="sr-only">Previous</span> </a> 
                        <a href="#carousel-landscape" class="right carousel-control" id="video-carousel-right" role="button" data-slide="next"><span class="sr-only">Next</span> </a> 
                        </div>
                    </div>
                </div>
                <div class="video-nav-btn" style="display: flex; justify-content: center; align-items: center; margin-top: 2vw; margin-bottom: 2vw;">
                  <span class="arrowbtn arrowbtn-before before-video"></span>
                  <span class="arrowbtn arrowbtn-next next-video"></span>
                </div>
              </div>
          </div>
          <div class="youtube-redirect-area" style="width: 10%; height: 30vw; display: flex; justify-content: center; align-items: center;">
            <div data-tooltip="더 많은 영상을 보고싶으시다면 클릭!">
              <a href="https://www.youtube.com/@mingturn" target="_blank" class="arrowbtn arrowbtn-next" id="youtube-redirect"></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="contents-area-common" style="padding-bottom: 5vw; background: white;">
      <span class="font-bold mingturnBlue sectiontitle">PROFILE</span>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; align-items: flex-start; justify-content: center;">
        <div class="profile-cont" style="display: flex; flex-direction: column; width: 31%; padding: 0 3vw;">
          <span class="history-year history-top">2021</span>
          <span class="history-content">밍턴 역사적 첫방송</span>
          <span class="history-year">2022</span>
          <span class="history-content">글로벌 엔터테인먼트 대기업 패러블 입사</span>
          <span class="history-content">프로젝트커넥트 「party nigth」 공개</span>
          <span class="history-year">2023</span>
          <span class="history-content">Virtual Valorant League 우승</span>
          <span class="history-content">첫 싱글앨범 「To.」 발매</span>
          <span class="history-content">패러블 랜파티 우승 (롤토체스, 발로란트)</span>
          <span class="history-content">첫 콘서트 「파스텔 탕후루」 개최</span>
          <span class="history-content">뉴밍턴 공개</span>
          <span class="history-year">2024</span>
          <span class="history-content">아프리카 이적 발표</span>
          <span class="history-year history-last">And More...</span>
        </div>
        <div class="profile-cont profile-pic" style="width: 33%; display: flex; border: 2px solid var(--ming-blue); padding: 0.7vw; margin-top: 10px;">
          <img src="images/mingPortrait.jpeg" style="width: 100%;">
        </div>
        <div class="profile-cont profile-pic profile-row-sec" id="profile-cont-mobile" style="width: 33%; display: flex; border: 2px solid var(--ming-blue); padding: 0.7vw; display: none;">
          <img src="images/mingPortrait2.jpeg" style="width: 100%;">
        </div>
        <div class="profile-cont profile-row-sec" style="width: 32%; height: 100%; padding-left: 3vw;">
          <table>
            <tr>
              <th>이름</th>
              <td>밍턴</td>
            </tr>
            <tr>
              <th>생년월일</th>
              <td>1997년 05월 22일<br>(20살 <span id="age">8</span>년차)</td>
            </tr>
            <tr>
              <th>신체</th>
              <td>158cm | O형</td>
            </tr>
            <tr>
              <th>직업</th>
              <td>밍티엄왕국 97번째<br>공주 겸 가수</td>
            </tr>
            <tr>
              <th>MBTI</th>
              <td>평상시 ESFP,<br>방송시 ISTP</td>
            </tr>
            <tr>
              <th>팬덤명</th>
              <td>누니</td>
            </tr>
            <tr>
              <th>좋아하는 것</th>
              <td>술과 사람</td>
            </tr>
            <tr>
              <th>싫어하는 것</th>
              <td>공포게임, 공포영화</td>
            </tr>
          </table>
          <div style="margin-top: 0.5vw;">
            <a href="https://www.instagram.com/ming_turn_/" target="_blank">
              <img src="images/icons/instagram.png" class="redirect-img">
            </a>
            <a href="https://twitter.com/mingturn97" target="_blank">
              <img src="images/icons/twitter.png" class="redirect-img">
            </a>
            <a href="https://cafe.naver.com/mingturn" target="_blank">
              <img src="images/icons/cafe.png" class="redirect-img">
            </a>
            <a href="https://bj.afreecatv.com/mingturn97" target="_blank">
              <img src="images/icons/afreecatv.png" class="redirect-img" style="margin-top: -0.5vw;">
            </a>
            <a href="https://www.youtube.com/@mingturn" target="_blank">
              <img src="images/icons/youtube.png" class="redirect-img">
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="ming-eyecatch-area" class="contents-area-common" style="padding: 0;">
      <iframe src="/eyecatch" frameborder="0" style="width: 100%; height: 50vw;"></iframe>
    </section>
    <section class="contents-area-common">
      <span class="font-bold mingturnBlue sectiontitle gallary-title" style="line-height: 12vw;">MINGTIUM GALERY</span>
      <!-- carousel갤러리를 구성할 영역 설정 -->
      <div class="gallary-area" style="width: 85%;margin: 0 100px;margin-bottom: 50px;">
        <div id="carousel-generic" class="carousel slide" >
          <!-- carousel의 지시자 -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-generic" data-slide-to="0"></li>
            <li data-target="#carousel-generic" data-slide-to="1" class="active"></li>
            <li data-target="#carousel-generic" data-slide-to="2"></li>
            <li data-target="#carousel-generic" data-slide-to="3"></li>
            <li data-target="#carousel-generic" data-slide-to="4"></li>
            <li data-target="#carousel-generic" data-slide-to="5"></li>
            <li data-target="#carousel-generic" data-slide-to="6"></li>
          </ol>
          <!-- 실제 이미지 아이템 -->
          <div class="carousel-inner" role="listbox">
            <div class="item">
              <!-- 아미지 설정- -->
              <img src="images/mingDefault1.png" style="width:100%">
            </div>
            <div class="item active">
              <img src="images/mingPiano.png" style="width:100%">
            </div>
            <div class="item">
              <img src="images/mingWedding.png" style="width:100%">
            </div>
            <div class="item">
              <img src="images/mingFlorida.png" style="width:100%">
            </div>
            <div class="item">
              <img src="images/mingNeonlight.png" style="width:100%">
            </div>
            <div class="item">
              <img src="images/mingBeer.png" style="width:100%">
            </div>
            <div class="item">
              <img src="images/mingConcert.png" style="width:100%">
            </div>
          </div>
          <!-- 왼쪽 화살표 버튼 -->
          <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </a>
          <!-- 오른쪽 화살표 버튼 -->
          <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </section>
    <!-- <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    margin-top: -1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #fff;">
      <span class="mingturnBlue" style="
      font-size: 5vw;">밍턴에 대해서 더 알고 싶으신가요?</span>
      <div></div>
      <span class="fontColorWhite" style="font-size: 5vw;">밍턴의 공식 팬카페에 가입해보세요!</span>
      <span class="mingturnPink">공주님에 대한 더 많은 정보와 빠른 소식을 들으실 수 있습니다!</span>
    </div> -->
    <!-- <div class="bg-for-cafe-redirect-black"></div>
    <div class="bg-for-cafe-redirect-img"></div>
    <div class="contents-area-common cafe-redirect">
      <span class="font-bold mingturnBlue sectiontitle" style="line-height: 13rem;">밍턴에 대해서 더 알고 싶으신가요?</span>
      <span class="fontColorWhite">밍턴의 공식 팬카페에 가입해보세요!</span>
      <span class="mingturnPink">공주님에 대한 더 많은 정보와 빠른 소식을 들으실 수 있습니다!</span>
      <input type="button" value="누니모집중!">
    </div> -->
    <footer>
      Copyright(C) 2024 All rights reserved.
    </footer>

  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Bootstrap cdn 설정 -->	
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">	
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">	
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">	
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>	
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>	
  <script src="https://cdn.jsdelivr.net/npm/animejs/lib/anime.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>