
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


:root {
	--ming-blue: #7D9BC2;
  --ming-pink: #f7cac9;
}

html {
  scroll-behavior: smooth;
}

body {
    margin:0;
    background-color: black !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

table {
    margin-top: 2vw;
    font-size: calc(4px + 1.5vw);
}

th {
    vertical-align: top;
}

td {
    vertical-align: top;
    padding-bottom: 0.5vw !important;
    padding-left: 1.4vw !important;
}

footer {
    color: white;
    width: 100%;
    height: 50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: medium;
    background: black;
    margin-top: -1px;
}

.bg-common {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 125%;
    z-index: -999;
    display: flex;
    justify-content: center;
}

.bg-video {
    filter: blur(25px);
    height: 100%;
}

.introduce-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contents-area-common {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    margin-top: -1px;
    padding-top: 2.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.live-player-af {
    padding: 1vw;
    margin: 1vw;
    border: 1px solid white;
}

.main-common{
    width: 100%;
}

.font-bold{
    font-family: helvetica neue,open sans,Arial,sans-serif;
    font-size: calc(3px + 2vw); 
    font-weight: 600;
}

.font-title{
    font-family: 'Roboto', sans-serif; /* 폰트 패밀리로 Roboto 사용 */
    font-size: 48px; /* 글자 크기 48픽셀 */
    font-weight: 900; /* 폰트 두께 900으로 설정 */
}

.history-year {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: calc(10px + 2.8vw);
  text-align: center;
  margin-top: 1vw;
}

.history-content {
  text-align: center;
  font-size: calc(3px + 1.0vw);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.history-top {
  margin-top: 0;
}

.history-last {
  text-align: right;
  font-size: 2vw;
  margin-top: 0;
}

.mingturnBlue{
    color: var(--ming-blue);
}

.sectiontitle{
    width: 100%;
    text-align: left;
    font-size: calc(35px + 5vw); 
    font-weight: 600;
}

.fontColorWhite{
    color: white;
}

.mingturnPink{
    color: var(--ming-pink);
}

.cafe-redirect {
    position: relative;
    background: none;
    width: 100vw;
    height: 50vw;
    margin-top: -50vw;
}

.bg-for-cafe-redirect-black{
    background-color: black;
    width: 100vw;
    height: 50vw;
    margin-top: -0.1vw;
}

.bg-for-cafe-redirect-img{
    width: 100vw;
    height: 50vw;
    margin-top: -50vw;
    background-image:url('images/mingWaiting.png'); 
    background-size: cover; 
    filter: blur(5px);
}

.button {
  cursor: pointer;
}

.redirect-img{
  width: 3vw;
  margin-right: 0.5vw;
}

.btn-scroll {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-bottom: 50px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* carousel.zoom - 갤러리사진표시용 */
.carousel.zoom{
  overflow: hidden;
  display: inline-block;
}
.carousel.zoom .carousel-inner{
  position: relative;
  overflow: visible;
}
.carousel.zoom .carousel-inner>.item{
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0;
  z-index: 0;
  transition: all .4s ease-in-out;
}
.carousel.zoom .carousel-inner>.item.active{
  position: relative;
  opacity: 1;
  z-index: 1;
}
.carousel.zoom .carousel-inner>.item.active.right,
.carousel.zoom .carousel-inner>.item.next {
  -webkit-transform-origin: center right;
  -moz-transform-origin: center right;
  -ms-transform-origin: center right;
  -o-transform-origin: center right;
  transform-origin: center right;
  opacity: 0.3;
}
.carousel.zoom .carousel-inner>.item.active.left,
.carousel.zoom .carousel-inner>.item.prev {
  -webkit-transform-origin: center left;
  -moz-transform-origin: center left;
  -ms-transform-origin: center left;
  -o-transform-origin: center left;
  transform-origin: center left;
  opacity: 0.3;
}


/* carousel.zoom.landscape - 유튜브영상표시용 */
.carousel.zoom.landscape .carousel-inner{
  margin: 0 5vw;
  width: auto;
}
.carousel.zoom.landscape .carousel-inner>.item.active.right,
.carousel.zoom.landscape .carousel-inner>.item.next {
  -webkit-transform: translate3d(5vw,0,0) scale(0.8);
  -moz-transform: translate3d(5vw,0,0) scale(0.8);
  -ms-transform : translate3d(5vw,0,0) scale(0.8);
  -o-transform : translate3d(5vw,0,0) scale(0.8);
  transform: translate3d(5vw,0,0) scale(0.8);
}
.carousel.zoom.landscape .carousel-inner>.item.active.left,
.carousel.zoom.landscape .carousel-inner>.item.prev {
  -webkit-transform: translate3d(-5vw,0,0) scale(0.8);
  -moz-transform: translate3d(-5vw,0,0) scale(0.8);
  -ms-transform : translate3d(-5vw,0,0) scale(0.8);
  -o-transform : translate3d(-5vw,0,0) scale(0.8);
  transform: translate3d(-5vw,0,0) scale(0.8);
}
.carousel.zoom.landscape .carousel-control{
  width: 5vw;
  background: transparent;
}


/* 메뉴 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

.nav ul{
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
}

.nav ul li span{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #fff;
}
.nav ul li span:hover{
  text-decoration: none;
  color: #F0CCCA;
}
.nav ul li span:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 1vw;
  margin-top: -0.25vw;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li span:hover:after{
  width: 100%;
}


/* 화살표 */
.arrowbtn {
  display: block;
  position: relative;
  width: 7vw;
  height: 7vw;
  background: #111;
  border: 0.125vw solid white;
  border-radius: 7vw;
  color: white;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.arrowbtn:hover {
  background: white;
  border-color: white;
  color: #111;
}

.arrowbtn:after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 2vw;
  height: 2vw;
}

.arrowbtn-next {
  margin-left: 2vw;
}

.arrowbtn-before {
  margin-right: 2vw;
}

.arrowbtn-next:after {
  margin-left: 2.0vw;
  margin-top: 2.2vw;
  border-top: 0.2vw solid;
  border-left: 0.2vw solid;
  transform: rotateZ(135deg);
}

.arrowbtn-before:after {
  margin-left: 2.5vw;
  margin-top: 2.3vw;
  border-bottom: 0.2vw solid;
  border-right: 0.2vw solid;
  transform: rotateZ(135deg);
}

/* TOOLTIP */
[data-tooltip]{position:relative;}
[data-tooltip]:before,
[data-tooltip]:after{visibility:hidden;opacity:0;position:absolute;left:63%;transform:translateX(-50%);white-space:nowrap;transition:all .2s ease;font-size:11px;font-family:dotum;letter-spacing:-1px;}
[data-tooltip]:before{content:attr(data-tooltip);height:25px;position:absolute;top:-20px;padding:5px 10px;border-radius:5px;color:#fff;background:#025272;box-shadow:0 3px 8px rgba(165, 165, 165, 0.5);}
[data-tooltip]:after{content: '';border-left:15px solid transparent;top:2px;border-right:15px solid transparent;border-top:15px solid #025272;}
[data-tooltip]:not([data-tooltip=""]):hover:before{visibility:visible;opacity:1;top:-30px}
[data-tooltip]:not([data-tooltip=""]):hover:after{visibility:visible;opacity:1;top:-8px}


/* 로딩화면 splash */
#splash {
  background: #5b7ba8;
  background-repeat: repeat-y;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: splash 3.5s ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#loader {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
}

#loader:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: -170px;
  width: 3px;
  background: #fff;
  background: linear-gradient(to bottom, var(--ming-pink) 0%, var(--ming-pink) 50%, rgba(255,255,255,0) 100%);
  height: 200px;
}

#loader:before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: 8px;
  bottom: -190px;
  width: 3px;
  background: #000;
  background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 50%, rgba(0,0,0,0) 100%);
  height: 200px;
}

#splash .anim {
  height: 100%;
  position: absolute;
  left: 50%;
  width: 100px;
  transform: translate(-50%,100%);
  animation: loader 4s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.splash-text{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10vw;
    font-weight: 700;
    font-size: 3vh;
}

.blinking{
  -webkit-animation: blink 0.75s ease-in-out infinite alternate;
  -moz-animation: blink 0.75s ease-in-out infinite alternate;
  animation: blink 0.75s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes blink{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes blink{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes loader {
  0% {
    transform: translate(-50%,110%);
  }
  30% {
    transform: translate(-50%,50%);
  }
  100% {
    transform: translate(-50%,0%);
  }
}

@keyframes splash {
  0% {
    transform: translate(0%,0%);
  }
  50% {
    transform: translate(0%,0%);
  }
  100% {
    transform: translate(0%,-100%);
  }
}


/* media */
@media (max-width: 768px) {
  .youtube-redirect-area {
    display: none !important;
  }
  #profile-cont-mobile{
    display: block !important;
  }
  .profile-cont{
    width: 40% !important;
    margin-right: 5vw;
  }
  .profile-pic{
    width: 48% !important;
  }
  .profile-row-sec{
    margin-top: 5vw;
  }
  .introduce-main{
    height: 75vh !important;
  }
  #ming-eyecatch-area{
    display: none !important;
  }
  #carousel-generic {
    margin-top: 20px;
  }
  .redirect-img{
    width: 5vw;
  }
  .gallary-area{
    width: 100% !important;
  }
}

@media (max-width: 430px) {
  #video-category {
    display: none !important;
  }
  #mingtube-area{
    height: 330px !important;
  }
  #video-area{
    width: 100% !important;
  }
  .container{
    padding: 0 !important;
    height: 173.73px !important;
  }
  .carousel.zoom.landscape .carousel-inner{
    margin: 0;
    width: auto;
  }
  .carousel.zoom .carousel-inner>.item.active>iframe{
    width: 300px !important;
    height: 168.75px !important;
  }
  .carousel.zoom.landscape .carousel-inner>.item.active.right,
  .carousel.zoom.landscape .carousel-inner>.item.next {
    -webkit-transform: translate3d(0,0,0) scale(0.8);
    -moz-transform: translate3d(0,0,0) scale(0.8);
    -ms-transform : translate3d(0,0,0) scale(0.8);
    -o-transform : translate3d(0,0,0) scale(0.8);
    transform: translate3d(0,0,0) scale(0.8);
    display: none;
  }
  .carousel.zoom.landscape .carousel-inner>.item.active.left,
  .carousel.zoom.landscape .carousel-inner>.item.prev {
    -webkit-transform: translate3d(0,0,0) scale(0.8);
    -moz-transform: translate3d(0,0,0) scale(0.8);
    -ms-transform : translate3d(0,0,0) scale(0.8);
    -o-transform : translate3d(0,0,0) scale(0.8);
    transform: translate3d(0,0,0) scale(0.8);
    display: none;
  }
  .carousel.zoom.landscape .carousel-control{
    width: 5vw;
    background: transparent;
  }
  .video-nav-btn{
    margin-top: 60px;
  }
  #ming-eyecatch-area{
    display: none !important;
  }
}
